.field {
    position: relative;
    .input{
       &:focus{
            outline: none;
        }
        height: 2em;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .label{
       position: absolute;
        top: 0;
        left: 0;
        height: 90%;
        display: flex;
        align-items: center;
        color : $color-black;
        border-radius: 2em 0 0 2em;
        pointer-events: none;
        font-weight: bold;
        padding: 0 .5em;
    }

    textarea.input{
        height: 30vh;
        max-height: 100%;
    }
    textarea.input + .label{
        height: 2em;
        border-radius: 2em;
    }
    .error{
        position: absolute;
        top: 100%;
        right: 0;
    }
}

.error {
    .input{
        background-color: $color-red;
        border: solid 2px $color-red;
        &:hover{
            border: solid 2px $color-red;
        }
    }
}

.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    .btn{
        font-size: 1.5em;
        padding: 0.25em .5em;
        margin: .5em;
        cursor: pointer;
    }
}