ul.panier {
  background-color: #021c63d8;
  position: fixed;
  width: 21%;
  top: 20px;
  right: 20px;
  padding: 0.5rem 1rem;
  list-style: none;
  li {
    display: flex;
    justify-content: space-between;
  }
}