@import '../../../config/config.scss';

section.sport_presentation {
  flex-direction: column;
  h1 {
    text-align: center;
    color: $color-orange;
    padding: 2rem;
  }

  h2, h3, p {
    color: $color-white;
  }

  h3 {
    text-decoration: underline;
  }
  
  p {
    text-align: justify;
    padding: 1rem;
    width: 50%;
  }
}