section.update-informations-form {
  margin-top: 4rem;
  height: 50vh;
  max-height: 50vh;
  nav.nav-informations {
    width: 100%;
    background-color: $color-black-darker;
    display: flex;
    justify-content: space-around;
    .item-menu {
      padding: 0.8rem;
      width: 100%;
      text-align: center;
      border: 1px solid black;
      &:hover {
        color: blue;
      }
      &.active {
        background-color: blue;
      }
    }
    a {
      color: white;
      text-decoration: none;
    }
  }
}
