@import '../../../config/config.scss';

section.homepage {
	background: $color-black;
	h1 {
		color: $color-orange;
	}
	div.flex {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 2rem 0 ;
		p {
			color: $color-white;
		}
		div.quote {
			background-color: $color-orange;
			height: 30px;
			width: 5px;
			margin: 0 1rem;
		}
		div.trait {
			background-color: $color-orange;
			height: 2px;
			width: 30px;
			margin: 0 1rem;
		}
	}

	img {
		width: 80%;
	}
}

section {
	&.bg-sport {
		background: url('../../../assets/images/woman-yoga-mat.jpeg');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
	&.bg-meal {
		background: url('../../../assets/images/preparation-repas.jpeg');
		background-position: center;
		background-size: cover;
		background-repeat: repeat;
		background-attachment: fixed;	
	}
	&.aboutus {
		position: relative;
		display: flex;
		flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
		.overlay {
			inset: 0;
			color: $color-orange;
		}
		.content {
			width: 100%;
			h3 {
				color: $color-white;
			}
			p {
				color: $color-grey;
				margin: 2rem 0;
			}
			.sport {
				flex: 1;
				display: flex;
				justify-content: flex-end;
				align-items: flex-end;
				flex-direction: column;
				text-align: right;
			}
			.knife {
				margin: 2rem	4rem;
				img {
					height: 810px;
				}
			}
			.meal {
				flex: 1;
				display: flex;
				justify-content: flex-start;
				align-items: flex-start;
				flex-direction: column;
				text-align: left;
			}
		}
	}
	&.contactus {
		padding: 0;
		form.contactus {
			h2 {
				color: $color-orange;
				margin-bottom: 1rem;
			}
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			label {
				color: $color-white;
				text-align: left;
			}
			textarea {
				height: 150px;
			}
			input, textarea {
				width: 100%;
				background: rgba(0,0,0,0.5);
        box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.03);
        border-radius: 8px; 
        font-size: 26px;
        padding: 0.5rem 1rem;
        border: 0;
        margin-bottom: 0.8rem;
				color: $color-white;
			}
			div.details {
				padding: 0;
				width: 100%;
				display: flex;
				justify-content: space-between;
				div.half {
					width: 48%;
					display: flex;
					flex-direction: column;
				}
			}
			div.full {
				width: 96%;
			}
			.button__custom {
				width: 50%;
			}
		}
	}
}

@media screen and (min-width: 2000px) {
	section.aboutus {
		.overlay h2 {
			font-size: 4rem;
		}
		.content {
		.sport p,
		.meal p {
			margin: 4rem 0;
		}
		.knife img {
			height: 1110px;
		}
	}
}
}
@media screen and (max-width: 900px) {
  .content {
    flex-direction: column;
  }
  .knife {
    margin: 4rem 0;
  }

}
@media screen and (max-width: 650px) {
  .overlay {
    font-size: 1rem;
  }
	section.contactus form.contactus {
		div.details {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			div.half {
				width: 100%;
			}
		}
		.button__custom {
			width: 100%;
		}
	}
}




