.signup-form, .login-form {
    width: 55%;
    margin: 0 auto;
    padding-top: 20vh;
    h2{
        display: flex;
        justify-content: center;
        margin: 2em 0;
    }
    .form-container{
        width: 100%;
        max-width: 100%;
        height: 7vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 2em 0;
        // input {
        //     padding-left: 0.5rem;
        // }
        
        .half{
            width: 40%;
        }
        .full{
            width: 90%;
            margin: 0 auto;
        }
    }
    
}

.signup-container{
    background-color:  $primary-background;
    padding: 10px;
}

.btn {
    padding: .5em 1em;
    color: $primary-color;
    background-color: $tercary-color;
    font-size: 1.1em;
    border: none;

    &:hover {
        color: $secondary-color;
    }
}

.btn-error{
    // pointer-events: none;  
    border: solid $tercary-color 2px !important;
}
.btn-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.link-already-signup, .link-already-signup:active{
    a {
        color: $secondary-color;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
