section.workout_of_the_day {
    margin: 5% 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    nav {
        width: 50%;
        background-color: $primary-background-darker;
        display: flex;
        justify-content: space-around;
        .link {
          padding: 0.8rem;
          width: 100%;
          text-align: center;
          border: 1px solid black;
          &:hover {
            color: blue;
          }
          &.active {
            background-color: blue;
          }
        }
        a {
          color: white;
          text-decoration: none;
        }
      }
}
