@import '../../../../config/config.scss';

nav {
  &.navbar {
    z-index: 5;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border-radius: 0 0 10px 10px ;
    padding: 1rem 2rem;
    &.scrolled {
      background-color: $color-darker-black;
    }
      
    .navbar__left{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      div.logo {
        display: inline-flex;
        color: $color-orange;
        font-size: 35px;
        strong.eat{
          color: $color-white;
          font-weight: 400;
        }
      }
      img {
        width: 100px;
      }
    }

    .navbar__right {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      list-style: none;
      .items {
        margin: 0 1rem;
        text-decoration: none;
        transition: 0.1s ease;
        color: $color-white;
        cursor: pointer;
        &.active {
          color: $color-grey;
        }
        &:hover {
          border-bottom: 1px solid $color-orange;
        }
        
      }
    }
  }
  div.navbar__smallscreen {
    display: none;
    div.overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: $color-black;
      transition: 0.5s ease;

      flex-direction: column;
      z-index: 5;
      .items {
        margin: 2rem;
        cursor: pointer;
        font-size: 21px;
        text-align: center;
        color: $color-white;
        &.active {
          color: $color-grey;
        }
        &:hover {
          border-bottom: 1px solid $color-orange;
        }
      }
      .overlay__close {
        font-size: 27px;
        color: $color-orange;
        cursor: pointer;
      
        position: absolute;
        top: 20px;
        right: 20px;
      }
    }
  }
}

@media screen and (min-width: 2000px) {
  nav.navbar .navbar__left {
    div.logo {
      font-size: 70px;
    }
    img.logo {
    width: 210px;
    }
  }
}

@media screen and (max-width: 1150px) {
  .navbar__right .items {
    display: none;
  }
  nav div.navbar__smallscreen {
    display: flex;
  }
}

@media screen and (max-width: 650px) {
  nav.navbar {
    padding: 1rem;  
    .navbar__left {
      div.logo {
        font-size: 20px;
      }
      img.logo {
        width: 60px;
        margin-right: 0.5rem;
      }
    }
  }
  
}