@import '../../../../config/config.scss';

nav {
  &.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 1rem 2rem;
    &.scrolled {
      background-color: $color-black;
    }
      
    .navbar__left{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      @include logo-text;
      img {
        width: 100px;
      }
    }

    .navbar__right {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      .items {
        margin: 0 1rem;
        text-decoration: none;
        transition: 0.1s ease;
        cursor: pointer;
        &:hover {
          border-bottom: 2px solid $color-orange;
        }
        
      }
    }
  }
}

@media screen and (min-width: 2000px) {
  nav.navbar img.logo {
    width: 210px;
  }
}