ul {
  &.list {
  width: 53%;
  list-style: none;
  &.exercices {
    li {
      background-color: blue;
    }
  }
  &.equipements {
    li {
      &:hover {
        background-color: #021444d8;
      }
    }
  }
  li {
    margin-right: 2.5rem;
    padding: 1.2rem 1rem;
    display: flex;
    justify-content: space-between;
    border: solid 1px #021c63d8;
    background-color: #021c63d8;
    label {
      margin-left: 1rem;
      margin-right: 0.5rem;
    }
    input {
      width: 35px;
      text-align: right;
    }
  }
}
}
