section.meal_presentation {
  width: 70%;
  margin-left: 15%;
  margin-top: 70px;
  h1 {
    text-align: center;
    color: black;
    padding: 2rem;
  }

  h2 {
    color:blue;
  } 

  h3 {
    text-decoration: underline;
  }
  
  p {
    text-align: justify;
    padding: 1rem;
    width: 50%;
  }
}