@import '../../../config/config.scss';

footer.container {
	position: absolute;
	padding: 1rem 2rem;
	width: 100vw;
	text-align: center;
	h3 {
		font-weight: 400;
	}
	p, h3 {
		color: $color-white;
	}
	section.section {
		display: flex;
		justify-content: space-around;

		div.description {
			width: 400px;
			.logo {
				display: inline-flex;
				color: $color-white;
				font-size: 35px;
				margin-bottom: 2rem;
			}
			p {
				text-align: left;
			}
			p strong, .logo strong {
				color: $color-orange;
				font-weight: 400;
			}
		}
		nav.nav {
			display: flex;
			flex-direction: column;
			.items {
				color: $color-white;
				margin: 0.2rem;
				&.active {
					color: $color-grey;
				}
				&:hover {
					color: $color-orange;
				} 
			}
		}
		address {
			font-style: normal;
		}
	}
	div.line {
		background-color: $color-orange;
		width: 100%;
		height: 1px;
		margin: 1rem 0;
	}
	p.mentions {
		color: $color-grey;
		span {
			color: $color-orange;
		}
	}
}

@media screen and (max-width: 1100px) {
  footer.container section.section {
		flex-direction: column;
		div.description {
			width: 100%;
			.logo {
				margin-bottom: 1rem;
			}
			p {
				text-align: center;
			}
		}
	}
}

@media screen and (min-width: 2000px) {
  footer.container section.section div.description .logo {
		font-size: 70px;
	}
}