@import './config/config';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  transition-duration: 0.5s;
}

html, body {
  background-color: $color-black;
  min-height: 100vh;
}

a {
  color: unset;
  text-decoration: none;
}

p, div {
  font-family: $font-base;
  color: $color-black;
}

h1, h2, h3, h4, h5 {
  font-family: $font-base;
}

h1, h2, h3 {
  font-weight: 900;
}

h4, h5 {
  font-weight: 700;
}

p { 
  font-weight: 24px; 
  font-size: 16px;
  line-height: 24px;
}

h1 {
  line-height: 78px;
  font-size: 54px;
}

h2 {
  line-height: 35px;
  font-size: 35px; 
}

h3 {
  font-size: 30px;
  line-height: 52px;
}

h4 {
  font-size: 32px;
  line-height: 42px;
}

h5 {
  font-size: 28px;
  line-height: 36px;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex__profile {
  display: flex;
  align-items: center;
  padding: 0 4rem 0 30%;
  justify-content:center;
  flex-direction: column;
  min-height: 91vh;
}


.flex__entrainement {
  display: flex;
  align-items: center;
  padding: 0 24% 0 24%;
  justify-content:flex-start;
  flex-direction: column;
  min-height: 91vh;
}

@media screen and (max-width: 1400px) {
  .flex__entrainement {
    padding: 0 10rem 0 320px;
  }
}

@media screen and (max-width: 1150px) {
  .flex__profile, .flex__entrainement {
    padding: 4rem 2rem;
  }
}

section.padding {
  padding: 4rem 6rem;
}

@media screen and (max-width: 850px) {
  section.padding {
    padding: 4rem;
  }
}

@media screen and (max-width: 650px) {
  section.padding {
    padding: 4rem 2rem;
  }
}

.button__custom {
    background-color: $color-orange;
    color: $color-white;
    font-family: $font-base;
    font-weight: 700;
    letter-spacing: 0.04em;
    line-height: 28px;
    font-size: 16px;
    padding: 0.5rem 1.5rem;
    border-radius: 100px;
    border: none;
    outline: none;
    cursor: pointer;
    &:hover {
      color: $color-grey;
    }
}

form {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin: 1rem;
	justify-content: space-around;
	align-items: center;
	text-align: left;
	div.half {
		margin: 1rem;
		display: flex;
		flex-direction: column;
		label {
			text-transform: uppercase;
			font-size: 12px;
		}
		input, select {
			width: 200px;
			padding: 0.5rem 0.5rem;
			background-color: $color-lighter-grey;
			border: 1px solid $color-grey;
			border-radius: 6px;
		}
	}
}


@media screen and (min-width: 2000px) {
  .button__custom {
    font-size: 30px;
    line-height: 67px;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 100vh;
}

.wrapper__info {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.wrapper__img {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 2rem;
}

@media screen and (min-width: 2000px) {
  p, .p {
    font-size: 37px;
    line-height: 67px;
  }
  h1, h2, h3 {
    font-size: 45px;
    line-height: 40px;
  }
}

@media screen and (max-width: 1150px) {
  .wrapper {
    flex-direction: column;
  }

  p, .p {
    font-size: 18px;
  }
  .wrapper__info {
    margin: 3rem 0 0 0;
  }
  .wrapper__img {
    margin: 0;
    img {
      width: 100%;
    }
  }
  
  h2 {
    line-height: 40px;
    font-size: 34px;
  }
  h3 {
    line-height: 40px;
    font-size: 27px;
  }
}

@media screen and (max-width: 650px) {
  p, .p {
    font-size: 16px;
  }
}

@media screen and (max-width: 450px) {
  p, .p {
    font-size: 12px;
  }

  h1, h2, h3 {
    font-size: 20px;
    line-height: 30px;
  }
}